@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
/*Style background of high score page*/
body {
  background-image: url(/assets/images/Queen-ofDiamonds-small);
}
/*Style high score table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: white;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  h1 {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    background: rgb(245, 114, 114);
    border-radius: 30px;
    padding: 15px;
  
  }
  