@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
/*Style the body of the front page */
body{
    margin:0;
    padding:20px;
    font-family:'Fredoka', sans-serif;
    background-image:url(assets/images/Queen-ofDiamonds-small.PNG);
    background-size: 150px;
    background-repeat:repeat;
}
.container{
    width: 500px;
    padding:30px;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(236, 174, 174);
    text-align: center;

}

.container h1 {
    font-weight: 600;
    text-transform: uppercase;
}

.container input[type="text"]{
border :0;
font-family:'Fredoka', sans-serif;
background:white;
display: block;
margin: 20px auto;
text-align: center;
border:3px solid rgb(226, 136, 136);
padding:15px 10px;
width: 220px;
border-radius: 25px;
font-size: 400;
}

.container input[type="text"]:focus{
 width: 250px;
 border-color: black;
}


.container input[type="submit"]{
    border :0;
    font-family:'Fredoka', sans-serif;
    background:white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:3px solid rgb(226, 136, 136);
    padding: 10px;
    border-radius: 25px;
    font-size: medium; 
    cursor: pointer;
}

.container input[type="submit"]:hover{
background: rgb(226, 136, 136);
}
