@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

/* Store Dimentions of the cards */
:root {
    --card-width-1g: 157px;
    --card-height-1g: 220px;

    --card-width-sm: 120px;
    --card-height-sm: 168px;

    --num-cards: 4;
    --card-horizontal-space-1g: 100px;
    --card-horizontal-space-sm: 50px;

    --badge-bg-color: rgb(245, 114, 114);
    --primary-color: black;
    --secondary-color: #ffffff;
    --primary-font: 'Fredoka', sans-serif;

}

/* set body height and font-family */
body {
    height: 100vh;
    font-family: var(--primary-font);
}

main {
    height: 55%;
    display: none;
    justify-content: center;

}
/* place each card in a grid */
.card-placement {
    position: relative;
    height: 100%;
    width: calc(var(--card-width-1g) * (var(--num-cards) / 2) + var(--card-horizontal-space-1g));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b"
        "c d";

}


.card-1 {
    grid-area: a;


}

.card-2 {
    grid-area: b;


}

.card-3 {
    grid-area: c;


}

.card-4 {
    grid-area: d;


}
